
<select [(ngModel)]="chartOptions.options.curveType" (change)="updateGraph()">
  <option value="function">Function</option>
  <option value="none">None</option>
</select>

<select [(ngModel)]="rate" (change)="updateGraph()">
  <option value="monthly">Monthly</option>
  <option value="weekly">Weekly</option>
</select>
<google-chart
  [title] = "chartOptions.title"
  [type] = "chartOptions.type"
  [data] = "chartOptions.data"
  [columnNames] = "chartOptions.columnNames"
  [options] = "chartOptions.options"
>
</google-chart>
